.container-menu {
    padding: 5%;
}

#luke-photo-jumb {
    padding: 0;
}

.pic1 {
    width: 100vmax;
}

.menu-title {
    padding-bottom: 5%;
}

img.menupic {
    display: none;
    max-height: 280px;
    max-width: 320px;
}

a.genki-list:hover+img {
    display: block;
}